.singleTaskStyle {
    width: 70%;
    margin:70px auto 0px;
    background-color: rgba(60, 139, 120, .3);
    border-radius: 15px;
    padding:50px;
    color:rgb(22, 20, 20);
    box-shadow: 0px 0px 21px 0px rgba(79,183,158,0.4)


}