.heading1 {
    color:white;
    background-color: rgba(1, 18, 39, 0.3);
    padding:25px 0px;
}
.notFoundImage {
    margin-top: 50px;
    margin-left: 200px;
    width: 10px;
    height: 10px;
}
.button4 {
    background-color: #e7e7e7;
     color: black;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}